In [65]:
import pandas as pd
import numpy as np
pd.options.display.float_format = '{:.5f}'.format

In [66]:
df = pd.read_csv('./dataset/total.csv', encoding='cp949', low_memory=False)
df

,회사명,거래소코드,회계년도,자산(*)(천원),부채(*)(천원),자본(*)(천원),유동자산(*)(천원),유동부채(*)(천원),당좌자산(*)(천원),단기차입금(*)(천원),...,무형자산(*)(천원),이연자산(*)(천원),매출채권(*)(천원),재고자산(*)(천원),법인세비용차감전(계속사업)손익(천원),세금과공과(천원),퇴직급여(천원),임차료(천원),영업외수익(*)(천원),영업외비용(*)(천원)
0,(주)A.M.C,64118,Dec-11,13250271.00000,6734376.00000,6515895.00000,8115329.00000,5523764.00000,7662911.00000,3298096.00000,...,1303.00000,0.00000,4022660.00000,452418.00000,2904489.00000,1094.00000,66651.00000,13040.00000,1011573.00000,641567.00000
1,(주)A.M.C,64118,Dec-12,16129899.00000,7028671.00000,9101228.00000,10202990.00000,5442761.00000,9696157.00000,2298500.00000,...,843.00000,0.00000,3977666.00000,506833.00000,3326682.00000,6494.00000,129080.00000,10600.00000,680679.00000,552552.00000
2,(주)A.M.C,64118,Dec-13,17709388.00000,5815688.00000,11893700.00000,9018587.00000,3010189.00000,8627090.00000,1550000.00000,...,383.00000,0.00000,3957316.00000,391497.00000,3299456.00000,5018.00000,132109.00000,36840.00000,845736.00000,1038021.00000
3,(주)A.M.C,64118,Dec-14,21742688.00000,11670728.00000,10071961.00000,6834570.00000,4434169.00000,6290840.00000,3525000.00000,...,1.00000,0.00000,2510165.00000,543730.00000,-1571167.00000,7093.00000,36515.00000,50410.00000,424952.00000,2085473.00000
4,(주)A.M.C,64118,Dec-15,20428850.00000,12019913.00000,8408937.00000,5563581.00000,4572707.00000,3875390.00000,3405000.00000,...,1.00000,0.00000,2940143.00000,1688191.00000,-1918918.00000,23948.00000,192068.00000,7493.00000,351075.00000,1381270.00000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
289065,힐링홈스주식회사,84799,Dec-17,10169205.00000,8930628.00000,1238577.00000,9885908.00000,5437722.00000,2424901.00000,0.00000,...,0.00000,0.00000,810194.00000,7461007.00000,619765.00000,8835.00000,0.00000,22716.00000,15626.00000,234379.00000
289066,힐코리아주식회사,43486,Dec-05,5337737.00000,7058765.00000,-1721028.00000,1171463.00000,6542860.00000,1171463.00000,3907109.00000,...,0.00000,0.00000,25432.00000,0.00000,-1327720.00000,77466.00000,32140.00000,29979.00000,3609.00000,985112.00000
289067,힐코리아주식회사,43486,Dec-08,13104301.00000,14025129.00000,-920828.00000,1815228.00000,10518265.00000,1815228.00000,62370.00000,...,0.00000,0.00000,0.00000,0.00000,-48307.00000,5899.00000,1177.00000,24615.00000,83240.00000,6631.00000
289068,힐코리아주식회사,43486,Dec-09,10086534.00000,12387575.00000,-2301041.00000,1721273.00000,10690254.00000,1721273.00000,317020.00000,...,0.00000,0.00000,0.00000,0.00000,-1335713.00000,1770.00000,26589.00000,13013.00000,82787.00000,1205481.00000
289069,힐코리아주식회사,43486,Dec-10,8652086.00000,11239192.00000,-2587106.00000,286824.00000,9543746.00000,286824.00000,317020.00000,...,0.00000,0.00000,0.00000,0.00000,-179053.00000,33.00000,0.00000,316.00000,72.00000,65421.00000

In [67]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 289070 entries, 0 to 289069
Data columns (total 35 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   회사명                    289070 non-null  object
 1   거래소코드                  289070 non-null  int64
 2   회계년도                   289070 non-null  object
 3   자산(*)(천원)              288928 non-null  float64
 4   부채(*)(천원)              288928 non-null  float64
 5   자본(*)(천원)              288928 non-null  float64
 6   유동자산(*)(천원)            288928 non-null  float64
 7   유동부채(*)(천원)            288928 non-null  float64
 8   당좌자산(*)(천원)            288928 non-null  float64
 9   단기차입금(*)(천원)           288928 non-null  float64
 10  장기차입금(*)(천원)           288928 non-null  float64
 11  사채(*)(천원)              288928 non-null  float64
 12  매출액(영업수익)(*)(천원)       288928 non-null  float64
 13  당기순이익(순손실)(천원)         288928 non-null  float64
 14  감가상각비(천원)              288928 non-null  float64
 15  기타대손상각비(천원)            288928 non-null  float64
 16  이자비용(천원)               288928 non-null  float64
 17  이자수익(천원)               288928 non-null  float64
 18  유동성장기부채(*)(천원)         288928 non-null  float64
 19  영업활동으로 인한 현금흐름(*)(천원)  288928 non-null  float64
 20  당기순이익(순손실)(천원).1       288928 non-null  float64
 21  영업이익(손실)(천원)           288928 non-null  float64
 22  매출원가(*)(천원)            288928 non-null  float64
 23  투자자산(*)(천원)            288928 non-null  float64
 24  유형자산(*)(천원)            288928 non-null  float64
 25  무형자산(*)(천원)            288928 non-null  float64
 26  이연자산(*)(천원)            288928 non-null  float64
 27  매출채권(*)(천원)            288928 non-null  float64
 28  재고자산(*)(천원)            288928 non-null  float64
 29  법인세비용차감전(계속사업)손익(천원)   288928 non-null  float64
 30  세금과공과(천원)              288928 non-null  float64
 31  퇴직급여(천원)               288928 non-null  float64
 32  임차료(천원)                288928 non-null  float64
 33  영업외수익(*)(천원)           288928 non-null  float64
 34  영업외비용(*)(천원)           288928 non-null  float64
dtypes: float64(32), int64(1), object(2)
memory usage: 77.2+ MB

##### 컬럼명 정리

In [68]:
df.columns

Index(['회사명', '거래소코드', '회계년도', '자산(*)(천원)', '부채(*)(천원)', '자본(*)(천원)',
       '유동자산(*)(천원)', '유동부채(*)(천원)', '당좌자산(*)(천원)', '단기차입금(*)(천원)',
       '장기차입금(*)(천원)', '사채(*)(천원)', '매출액(영업수익)(*)(천원)', '당기순이익(순손실)(천원)',
       '감가상각비(천원)', '기타대손상각비(천원)', '이자비용(천원)', '이자수익(천원)', '유동성장기부채(*)(천원)',
       '영업활동으로 인한 현금흐름(*)(천원)', '당기순이익(순손실)(천원).1', '영업이익(손실)(천원)',
       '매출원가(*)(천원)', '투자자산(*)(천원)', '유형자산(*)(천원)', '무형자산(*)(천원)',
       '이연자산(*)(천원)', '매출채권(*)(천원)', '재고자산(*)(천원)', '법인세비용차감전(계속사업)손익(천원)',
       '세금과공과(천원)', '퇴직급여(천원)', '임차료(천원)', '영업외수익(*)(천원)', '영업외비용(*)(천원)'],
      dtype='object')

In [69]:
# 손익계산서의 당기순이익과 현금흐름표의 당기순이익 컬럼 두개가 뽑혀서 현금흐름표의 당기순이익 컬럼 삭제
df.drop(['당기순이익(순손실)(천원).1'], axis=1, inplace=True)

In [70]:
col = df.columns.str.split('(').str.get(0)
df.columns = col
df

,회사명,거래소코드,회계년도,자산,부채,자본,유동자산,유동부채,당좌자산,단기차입금,...,무형자산,이연자산,매출채권,재고자산,법인세비용차감전,세금과공과,퇴직급여,임차료,영업외수익,영업외비용
0,(주)A.M.C,64118,Dec-11,13250271.00000,6734376.00000,6515895.00000,8115329.00000,5523764.00000,7662911.00000,3298096.00000,...,1303.00000,0.00000,4022660.00000,452418.00000,2904489.00000,1094.00000,66651.00000,13040.00000,1011573.00000,641567.00000
1,(주)A.M.C,64118,Dec-12,16129899.00000,7028671.00000,9101228.00000,10202990.00000,5442761.00000,9696157.00000,2298500.00000,...,843.00000,0.00000,3977666.00000,506833.00000,3326682.00000,6494.00000,129080.00000,10600.00000,680679.00000,552552.00000
2,(주)A.M.C,64118,Dec-13,17709388.00000,5815688.00000,11893700.00000,9018587.00000,3010189.00000,8627090.00000,1550000.00000,...,383.00000,0.00000,3957316.00000,391497.00000,3299456.00000,5018.00000,132109.00000,36840.00000,845736.00000,1038021.00000
3,(주)A.M.C,64118,Dec-14,21742688.00000,11670728.00000,10071961.00000,6834570.00000,4434169.00000,6290840.00000,3525000.00000,...,1.00000,0.00000,2510165.00000,543730.00000,-1571167.00000,7093.00000,36515.00000,50410.00000,424952.00000,2085473.00000
4,(주)A.M.C,64118,Dec-15,20428850.00000,12019913.00000,8408937.00000,5563581.00000,4572707.00000,3875390.00000,3405000.00000,...,1.00000,0.00000,2940143.00000,1688191.00000,-1918918.00000,23948.00000,192068.00000,7493.00000,351075.00000,1381270.00000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
289065,힐링홈스주식회사,84799,Dec-17,10169205.00000,8930628.00000,1238577.00000,9885908.00000,5437722.00000,2424901.00000,0.00000,...,0.00000,0.00000,810194.00000,7461007.00000,619765.00000,8835.00000,0.00000,22716.00000,15626.00000,234379.00000
289066,힐코리아주식회사,43486,Dec-05,5337737.00000,7058765.00000,-1721028.00000,1171463.00000,6542860.00000,1171463.00000,3907109.00000,...,0.00000,0.00000,25432.00000,0.00000,-1327720.00000,77466.00000,32140.00000,29979.00000,3609.00000,985112.00000
289067,힐코리아주식회사,43486,Dec-08,13104301.00000,14025129.00000,-920828.00000,1815228.00000,10518265.00000,1815228.00000,62370.00000,...,0.00000,0.00000,0.00000,0.00000,-48307.00000,5899.00000,1177.00000,24615.00000,83240.00000,6631.00000
289068,힐코리아주식회사,43486,Dec-09,10086534.00000,12387575.00000,-2301041.00000,1721273.00000,10690254.00000,1721273.00000,317020.00000,...,0.00000,0.00000,0.00000,0.00000,-1335713.00000,1770.00000,26589.00000,13013.00000,82787.00000,1205481.00000
289069,힐코리아주식회사,43486,Dec-10,8652086.00000,11239192.00000,-2587106.00000,286824.00000,9543746.00000,286824.00000,317020.00000,...,0.00000,0.00000,0.00000,0.00000,-179053.00000,33.00000,0.00000,316.00000,72.00000,65421.00000

In [71]:
df.columns

Index(['회사명', '거래소코드', '회계년도', '자산', '부채', '자본', '유동자산', '유동부채', '당좌자산',
       '단기차입금', '장기차입금', '사채', '매출액', '당기순이익', '감가상각비', '기타대손상각비', '이자비용',
       '이자수익', '유동성장기부채', '영업활동으로 인한 현금흐름', '영업이익', '매출원가', '투자자산', '유형자산',
       '무형자산', '이연자산', '매출채권', '재고자산', '법인세비용차감전', '세금과공과', '퇴직급여', '임차료',
       '영업외수익', '영업외비용'],
      dtype='object')

##### NaN값 처리

In [72]:
df.isna().sum()

회사명                 0
거래소코드               0
회계년도                0
자산                142
부채                142
자본                142
유동자산              142
유동부채              142
당좌자산              142
단기차입금             142
장기차입금             142
사채                142
매출액               142
당기순이익             142
감가상각비             142
기타대손상각비           142
이자비용              142
이자수익              142
유동성장기부채           142
영업활동으로 인한 현금흐름    142
영업이익              142
매출원가              142
투자자산              142
유형자산              142
무형자산              142
이연자산              142
매출채권              142
재고자산              142
법인세비용차감전          142
세금과공과             142
퇴직급여              142
임차료               142
영업외수익             142
영업외비용             142
dtype: int64

In [73]:
df[df['자산'].isna()].head()

,회사명,거래소코드,회계년도,자산,부채,자본,유동자산,유동부채,당좌자산,단기차입금,...,무형자산,이연자산,매출채권,재고자산,법인세비용차감전,세금과공과,퇴직급여,임차료,영업외수익,영업외비용
14205,주식회사테크팩솔루션,57120,Dec-08,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
14206,주식회사테크팩솔루션,57120,Dec-09,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
31576,케이만금세기차륜집단유한공사,75136,Dec-15,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
43988,동양인터내셔널(주),10079,Mar-01,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
43989,동양인터내셔널(주),10079,Mar-02,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan

In [74]:
df[df['자산'].isna()].isna().sum()
# 자산에서 NaN값 뜨면 전체 다 NaN -> 모두 삭제 진행

회사명                 0
거래소코드               0
회계년도                0
자산                142
부채                142
자본                142
유동자산              142
유동부채              142
당좌자산              142
단기차입금             142
장기차입금             142
사채                142
매출액               142
당기순이익             142
감가상각비             142
기타대손상각비           142
이자비용              142
이자수익              142
유동성장기부채           142
영업활동으로 인한 현금흐름    142
영업이익              142
매출원가              142
투자자산              142
유형자산              142
무형자산              142
이연자산              142
매출채권              142
재고자산              142
법인세비용차감전          142
세금과공과             142
퇴직급여              142
임차료               142
영업외수익             142
영업외비용             142
dtype: int64

In [75]:
df.dropna(axis=0, inplace=True)
df.head()

,회사명,거래소코드,회계년도,자산,부채,자본,유동자산,유동부채,당좌자산,단기차입금,...,무형자산,이연자산,매출채권,재고자산,법인세비용차감전,세금과공과,퇴직급여,임차료,영업외수익,영업외비용
0,(주)A.M.C,64118,Dec-11,13250271.00000,6734376.00000,6515895.00000,8115329.00000,5523764.00000,7662911.00000,3298096.00000,...,1303.00000,0.00000,4022660.00000,452418.00000,2904489.00000,1094.00000,66651.00000,13040.00000,1011573.00000,641567.00000
1,(주)A.M.C,64118,Dec-12,16129899.00000,7028671.00000,9101228.00000,10202990.00000,5442761.00000,9696157.00000,2298500.00000,...,843.00000,0.00000,3977666.00000,506833.00000,3326682.00000,6494.00000,129080.00000,10600.00000,680679.00000,552552.00000
2,(주)A.M.C,64118,Dec-13,17709388.00000,5815688.00000,11893700.00000,9018587.00000,3010189.00000,8627090.00000,1550000.00000,...,383.00000,0.00000,3957316.00000,391497.00000,3299456.00000,5018.00000,132109.00000,36840.00000,845736.00000,1038021.00000
3,(주)A.M.C,64118,Dec-14,21742688.00000,11670728.00000,10071961.00000,6834570.00000,4434169.00000,6290840.00000,3525000.00000,...,1.00000,0.00000,2510165.00000,543730.00000,-1571167.00000,7093.00000,36515.00000,50410.00000,424952.00000,2085473.00000
4,(주)A.M.C,64118,Dec-15,20428850.00000,12019913.00000,8408937.00000,5563581.00000,4572707.00000,3875390.00000,3405000.00000,...,1.00000,0.00000,2940143.00000,1688191.00000,-1918918.00000,23948.00000,192068.00000,7493.00000,351075.00000,1381270.00000

In [76]:
df.isna().sum()

회사명               0
거래소코드             0
회계년도              0
자산                0
부채                0
자본                0
유동자산              0
유동부채              0
당좌자산              0
단기차입금             0
장기차입금             0
사채                0
매출액               0
당기순이익             0
감가상각비             0
기타대손상각비           0
이자비용              0
이자수익              0
유동성장기부채           0
영업활동으로 인한 현금흐름    0
영업이익              0
매출원가              0
투자자산              0
유형자산              0
무형자산              0
이연자산              0
매출채권              0
재고자산              0
법인세비용차감전          0
세금과공과             0
퇴직급여              0
임차료               0
영업외수익             0
영업외비용             0
dtype: int64

##### 회계년도, 회계월 정리

In [77]:
df['회계년도']

0         Dec-11
1         Dec-12
2         Dec-13
3         Dec-14
4         Dec-15
           ...
289065    Dec-17
289066    Dec-05
289067    Dec-08
289068    Dec-09
289069    Dec-10
Name: 회계년도, Length: 288928, dtype: object

In [78]:
df['회계년도'].unique()

array(['Dec-11', 'Dec-12', 'Dec-13', 'Dec-14', 'Dec-15', 'Dec-16',
       'Dec-17', 'Dec-04', 'Dec-05', 'Dec-06', 'Dec-07', 'Dec-08',
       'Dec-09', 'Dec-10', 'Dec-01', 'Dec-02', 'Dec-03', 'Jul-01',
       'Feb-01', 'Feb-02', 'Feb-03', 'Feb-04', 'Feb-05', 'Feb-06',
       'Feb-07', 'Jun-11', 'Jun-12', 'Jun-13', 'Jun-14', 'Jun-15',
       'Jun-16', 'Jun-17', 'Jun-08', 'Jun-09', 'Sep-04', 'Sep-05',
       'Sep-06', 'Sep-07', 'Sep-08', 'Sep-09', 'Sep-10', 'Sep-11',
       'Sep-12', 'Sep-13', 'Sep-14', 'Sep-15', 'Sep-16', 'Sep-17',
       'Mar-14', 'Mar-15', 'Jun-10', 'Oct-01', 'Oct-02', 'Oct-03',
       'Oct-04', 'Oct-05', 'Oct-06', 'Oct-07', 'Oct-08', 'Oct-09',
       'Oct-10', 'Oct-11', 'Oct-12', 'Oct-13', 'Oct-14', 'Oct-15',
       'Oct-16', 'Oct-17', 'Mar-12', 'Mar-13', 'Mar-16', 'Mar-17',
       'Sep-01', 'Mar-05', 'Jun-01', 'Jun-02', 'Jun-03', 'Jun-04',
       'Jun-05', 'Nov-01', 'Nov-02', 'Nov-03', 'Nov-04', 'Nov-05',
       'Nov-06', 'Nov-07', 'Nov-08', 'Mar-01', 'Apr-01', 'Apr-02',
       'Apr-03', 'Apr-04', 'Apr-05', 'Apr-06', 'Apr-07', 'Mar-06',
       'Mar-07', 'Mar-08', 'Mar-09', 'Mar-10', 'Mar-11', 'Mar-02',
       'Mar-03', 'Mar-04', 'Nov-09', 'Nov-10', 'Jun-06', 'Jun-07',
       'Feb-08', 'Feb-09', 'Feb-10', 'Feb-11', 'Feb-12', 'Feb-13',
       'Feb-14', 'Feb-15', 'Feb-16', 'Feb-17', 'Aug-02', 'Aug-03',
       'Sep-02', 'Sep-03', 'May-06', 'May-07', 'May-08', 'May-09',
       'May-10', 'May-11', 'May-12', 'May-13', 'May-14', 'May-15',
       'May-16', 'May-17', 'Jan-08', 'Jan-09', 'Jan-15', 'Apr-08',
       'Apr-09', 'Apr-10', 'Apr-11', 'Apr-12', 'Apr-13', 'Apr-14',
       'Apr-15', 'Apr-16', 'Aug-07', 'Aug-08', 'Aug-09', 'Aug-10',
       'Aug-11', 'Jul-11', 'Jul-12', 'Jul-13', 'Jul-14', 'May-01',
       'May-02', 'May-03', 'May-04', 'May-05', 'Aug-01', 'Aug-04',
       'Aug-14', 'Aug-15', 'Aug-16', 'Aug-17', 'Aug-05', 'Jan-01',
       'Jan-02', 'Jan-03', 'Jan-04', 'Jan-05', 'Jul-08', 'Jul-09',
       'Jul-10', 'Jul-15', 'Jul-16', 'Jul-17', 'Nov-17', 'Jul-02',
       'Jul-03', 'Jul-04', 'Jul-05', 'Jul-06', 'Jul-07', 'Nov-11',
       'Nov-12', 'Nov-13', 'Nov-14', 'Nov-15', 'Nov-16', 'Apr-17',
       'Jan-10', 'Jan-11', 'Jan-12', 'Jan-13', 'Jan-14', 'Jan-17',
       'Aug-12', 'Aug-13', 'Aug-06', 'Jan-06', 'Jan-07', 'Jan-16'],
      dtype=object)

In [79]:
df['회계년도'].str.split('-')

0         [Dec, 11]
1         [Dec, 12]
2         [Dec, 13]
3         [Dec, 14]
4         [Dec, 15]
            ...
289065    [Dec, 17]
289066    [Dec, 05]
289067    [Dec, 08]
289068    [Dec, 09]
289069    [Dec, 10]
Name: 회계년도, Length: 288928, dtype: object

In [80]:
df['회계월'] = df['회계년도'].astype(str).str.split('-').str.get(0)
df['회계년도'] = df['회계년도'].astype(str).str.split('-').str.get(1)

In [81]:
df['회계년도'] = ('20'+df['회계년도']).astype('int64')

In [82]:
df['회계년도'].unique()

array([2011, 2012, 2013, 2014, 2015, 2016, 2017, 2004, 2005, 2006, 2007,
       2008, 2009, 2010, 2001, 2002, 2003], dtype=int64)

In [83]:
df['회계월'].unique()

array(['Dec', 'Jul', 'Feb', 'Jun', 'Sep', 'Mar', 'Oct', 'Nov', 'Apr',
       'Aug', 'May', 'Jan'], dtype=object)

##### 자산 총액 5000억원 이하 : 중소기업

중소X -> 577개

In [84]:
len(df[df['자산']>=500000000]['회사명'].unique())

577

In [85]:
df[df['자산']>=500000000].sort_values(['회사명', '회계년도']).to_csv('./dataset/중소.csv')
## 확인하고 그냥 날려버릴지 생각해보기!!!!!!!! ##

##### 회사, 거래소코드 확인

In [86]:
print('회사', len(df['회사명'].unique()))
print('코드', len(df['거래소코드'].unique()))

회사 43150
코드 44303

- 같은 회사명에 거래소 코드가 여러개인 경우 : 992개

In [87]:
tmp = df.groupby(['회사명'])['거래소코드'].nunique().reset_index()
tmp[tmp['거래소코드']>1]

              회사명  거래소코드
108         (주)가야      2
191         (주)거성      2
195       (주)거송건설      2
257         (주)건화      3
310     (주)경동하이테크      2
...           ...    ...
42879  화성엔지니어링(주)      2
42924    화인건설주식회사      2
42926     화인산업(주)      2
43102    흥진산업주식회사      2
43116   희망배움터주식회사      2

[992 rows x 2 columns]

* 같은 거래소 코드에 회사명 여러개인 경우 : 0개

In [88]:
tmp = df.groupby(['거래소코드'])['회사명'].nunique().reset_index()
tmp[tmp['회사명']>1]

Empty DataFrame
Columns: [거래소코드, 회사명]
Index: []

In [89]:
df[df['자산'].isna()].sort_values('회사명')

Empty DataFrame
Columns: [회사명, 거래소코드, 회계년도, 자산, 부채, 자본, 유동자산, 유동부채, 당좌자산, 단기차입금, 장기차입금, 사채, 매출액, 당기순이익, 감가상각비, 기타대손상각비, 이자비용, 이자수익, 유동성장기부채, 영업활동으로 인한 현금흐름, 영업이익, 매출원가, 투자자산, 유형자산, 무형자산, 이연자산, 매출채권, 재고자산, 법인세비용차감전, 세금과공과, 퇴직급여, 임차료, 영업외수익, 영업외비용, 회계월]
Index: []

[0 rows x 35 columns]

##### 기초통계량 확인

In [90]:
df[['자산', '부채', '자본', '유동자산', '유동부채', '당좌자산', '단기차입금', '장기차입금', '사채', '매출액']].describe()

,자산,부채,자본,유동자산,유동부채,당좌자산,단기차입금,장기차입금,사채,매출액
count,288928.00000,288928.00000,288928.00000,288928.00000,288928.00000,288928.00000,288928.00000,288928.00000,288928.00000,288928.00000
mean,58979801.70053,38113280.88617,20866682.26769,25032878.71941,22094776.53021,16964530.55560,7686821.34764,8236193.91842,2444031.07140,47251065.05125
std,441827765.16906,256253384.42649,258713489.76668,150704274.36279,98045649.92514,100423475.40935,26393989.42655,72746502.20552,76705106.45856,241276925.65969
min,-40617.00000,-953582.00000,-21833687330.00000,-48070.00000,-953582.00000,-110888.00000,-7063.00000,0.00000,0.00000,-58226688.00000
25%,11846685.00000,7310011.75000,1545662.50000,3824889.75000,3955320.00000,2357254.25000,0.00000,0.00000,0.00000,4983176.00000
50%,18766164.00000,11924298.50000,5588000.00000,8548594.00000,8001154.00000,5812704.00000,2465000.00000,457000.00000,0.00000,15554238.50000
75%,37626476.00000,24487288.50000,13542244.00000,17780173.00000,16345921.75000,12664939.50000,6957718.75000,4005832.75000,0.00000,35657287.25000
max,55011095972.00000,29252816239.00000,38479511000.00000,19049591000.00000,9627528000.00000,18172541000.00000,2384299000.00000,11358974630.00000,10411366722.00000,30111427000.00000

In [91]:
df[['당기순이익', '감가상각비', '기타대손상각비', '이자비용', '이자수익', '유동성장기부채', '영업활동으로 인한 현금흐름', '영업이익', '매출원가', '투자자산']].describe()

,당기순이익,감가상각비,기타대손상각비,이자비용,이자수익,유동성장기부채,영업활동으로 인한 현금흐름,영업이익,매출원가,투자자산
count,288928.00000,288928.00000,288928.00000,288928.00000,288928.00000,288928.00000,288928.00000,288928.00000,288928.00000,288928.00000
mean,1297184.65175,322170.68677,149028.88558,3603.00046,263823.74069,2812218.89926,2711938.23040,2531759.25339,37903492.28988,7658150.08387
std,42691897.61957,4125269.07578,3219303.02934,125299.83703,1856255.25344,32736213.89267,49578265.00525,28579831.91378,204929204.78289,79437034.47629
min,-3629120579.00000,-640232.00000,-11705108.00000,0.00000,-1620783.00000,-430000.00000,-2677199030.00000,-855220000.00000,-52121705.00000,-2415961.00000
25%,-284076.25000,16823.00000,0.00000,0.00000,7198.00000,0.00000,-440890.75000,-101015.00000,2289431.75000,7800.00000
50%,353268.50000,57962.00000,0.00000,0.00000,46450.50000,0.00000,650932.50000,642343.50000,11464045.50000,329818.50000
75%,1541840.75000,157137.00000,0.00000,0.00000,168991.50000,679920.00000,2593430.50000,2021698.75000,28386003.75000,1963493.75000
max,16683425836.00000,626061841.00000,918489453.00000,20682816.00000,445999978.00000,5102925080.00000,7644305000.00000,3819778122.00000,24202678000.00000,8043393399.00000

In [92]:
df[['유형자산', '무형자산', '이연자산', '매출채권', '재고자산', '법인세비용차감전', '세금과공과', '퇴직급여', '임차료', '영업외수익', '영업외비용']].describe()

,유형자산,무형자산,이연자산,매출채권,재고자산,법인세비용차감전,세금과공과,퇴직급여,임차료,영업외수익,영업외비용
count,288928.00000,288928.00000,288928.00000,288928.00000,288928.00000,288928.00000,288928.00000,288928.00000,288928.00000,288928.00000,288928.00000
mean,22452704.20960,1723333.85958,90.59511,7456370.22771,8068321.77416,1918140.59713,146032.95569,194099.83474,293242.27192,2089992.35175,2703620.63549
std,286854999.80341,49601620.82354,25768.03065,44785427.61638,87758181.43543,45515353.03765,819319.75394,759659.35516,3558669.48385,42787279.24962,24380594.43753
min,0.00000,-1419514187.00000,0.00000,-246189.00000,0.00000,-3629120579.00000,-11759082.00000,-19908153.00000,-74197.00000,-223921.00000,-824710.00000
25%,850115.00000,0.00000,0.00000,201662.25000,10084.50000,-265751.50000,15315.75000,15785.75000,0.00000,81694.75000,230920.25000
50%,5732557.00000,0.00000,0.00000,1980043.50000,1026432.50000,439307.00000,41860.50000,61025.50000,19933.00000,295032.00000,549678.00000
75%,12691684.50000,67961.75000,0.00000,5542984.25000,4301273.00000,1904998.50000,98335.25000,159764.00000,90081.00000,903531.25000,1413820.25000
max,45816955376.00000,20743946585.00000,10664086.00000,7685215023.00000,11124374445.00000,16683425836.00000,90436973.00000,70396812.00000,691756000.00000,19620228489.00000,4192598415.00000

##### 재무비율 변수 생성

In [93]:
# 안정성
df['자기자본비율'] = df['자본']/(df['자산']) * 100
df['부채비율'] = df['부채']/df['자본'] * 100
df['유동비율'] = df['유동자산']/df['유동부채'] * 100
df['당좌비율'] = df['당좌자산']/df['유동부채'] * 100
df['차입금의존도'] = (df['장기차입금'] + df['단기차입금'] + df['사채']) / df['자산'] * 100
df['OCF'] = df['영업활동으로 인한 현금흐름']

In [94]:
# 수익성
df['경상이익'] = df['영업이익'] + df['영업외수익'] - df['영업외비용']
df['총자산이익률'] = df['당기순이익'] / df['자산'] * 100
df['총자본경상이익률'] = df['경상이익'] / df['자산'] * 100
df['자기자본순이익률'] = df['당기순이익'] / df['자본'] * 100
df['매출액경상이익률'] = df['경상이익'] / df['매출액'] * 100
df['자기자본영업이익률'] = df['영업이익']/df['자본']*100
df['매출액영업이익률'] = df['영업이익'] / df['매출액'] * 100
df['매출원가율'] = df['매출원가'] / df['매출액'] * 100
df['이자보상배율'] = df['영업이익'] / df['이자비용'] * 100

In [95]:
# 활동성
df['총자본회전율'] = df['매출액'] / df['자산'] * 100
df['자기자본회전율'] = df['매출액'] / df['자본'] * 100
df['고정자산'] = df['투자자산'] + df['유형자산'] + df['무형자산'] + df['이연자산']
df['고정자산회전율'] = df['매출액'] / (df['고정자산'] + df['투자자산']) * 100
df['재고자산회전율'] = df['매출액'] / df['재고자산'] * 100
df['매출채권회전율'] = df['매출액'] / df['매출채권'] * 100
df['순운전자본'] = df['유동자산'] - df['유동부채'] * 100
df['순운전자본회전율'] = df['매출액'] / df['순운전자본'] * 100

In [96]:
# 성장성
df['총자본증가율'] = (df['자산'] - df.sort_values(by='회계년도', ascending=True).groupby('거래소코드')['자산'].shift(1)) / df.sort_values(by='회계년도', ascending=True).groupby('거래소코드')['자산'].shift(1) * 100
df['총자본증가율'] = (df['자본'] - df.sort_values(by='회계년도', ascending=True).groupby('거래소코드')['자본'].shift(1)) / df.sort_values(by='회계년도', ascending=True).groupby('거래소코드')['자본'].shift(1) * 100
df['유형자산증가율'] = (df['유형자산'] - df.sort_values(by='회계년도', ascending=True).groupby('거래소코드')['유형자산'].shift(1)) / df.sort_values(by='회계년도', ascending=True).groupby('거래소코드')['유형자산'].shift(1) * 100
df['매출액증가율'] = (df['매출액'] - df.sort_values(by='회계년도', ascending=True).groupby('거래소코드')['매출액'].shift(1)) / df.sort_values(by='회계년도', ascending=True).groupby('거래소코드')['매출액'].shift(1) * 100
df['순이익증가율'] = (df['당기순이익'] - df.sort_values(by='회계년도', ascending=True).groupby('거래소코드')['당기순이익'].shift(1)) / df.sort_values(by='회계년도', ascending=True).groupby('거래소코드')['당기순이익'].shift(1) * 100

중소기업 기준: 관측기간 평균 자산 5000억원 이상 기업 제거

In [106]:
df

,회사명,거래소코드,회계년도,자산,부채,자본,유동자산,유동부채,당좌자산,단기차입금,...,고정자산,고정자산회전율,재고자산회전율,매출채권회전율,순운전자본,순운전자본회전율,총자본증가율,유형자산증가율,매출액증가율,순이익증가율
0,(주)A.M.C,64118,2011,13250271.00000,6734376.00000,6515895.00000,8115329.00000,5523764.00000,7662911.00000,3298096.00000,...,4986348.00000,232.22472,4883.96638,549.28686,-544261071.00000,-4.05981,nan,nan,nan,nan
1,(주)A.M.C,64118,2012,16129899.00000,7028671.00000,9101228.00000,10202990.00000,5442761.00000,9696157.00000,2298500.00000,...,5778315.00000,211.64394,4346.43916,553.82196,-534073110.00000,-4.12475,39.67733,151.30100,-0.30211,2.10713
2,(주)A.M.C,64118,2013,17709388.00000,5815688.00000,11893700.00000,9018587.00000,3010189.00000,8627090.00000,1550000.00000,...,8350498.00000,157.47180,5692.72281,563.18068,-292000313.00000,-7.63247,30.68237,122.08435,1.16959,-3.36221
3,(주)A.M.C,64118,2014,21742688.00000,11670728.00000,10071961.00000,6834570.00000,4434169.00000,6290840.00000,3525000.00000,...,14848119.00000,58.59135,2209.79567,478.66662,-436582330.00000,-2.75213,-15.31684,260.68732,-46.08781,-157.33998
4,(주)A.M.C,64118,2015,20428850.00000,12019913.00000,8408937.00000,5563581.00000,4572707.00000,3875390.00000,3405000.00000,...,14845268.00000,53.00393,637.79922,366.21583,-451707119.00000,-2.38368,-16.51142,2.03705,-10.38718,27.16573
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
289065,힐링홈스주식회사,84799,2017,10169205.00000,8930628.00000,1238577.00000,9885908.00000,5437722.00000,2424901.00000,0.00000,...,177918.00000,3168.19612,132.78470,1222.80293,-533886292.00000,-1.85565,nan,nan,nan,nan
289066,힐코리아주식회사,43486,2005,5337737.00000,7058765.00000,-1721028.00000,1171463.00000,6542860.00000,1171463.00000,3907109.00000,...,4142574.00000,8.76108,inf,1428.11025,-653114537.00000,-0.05561,nan,nan,nan,nan
289067,힐코리아주식회사,43486,2008,13104301.00000,14025129.00000,-920828.00000,1815228.00000,10518265.00000,1815228.00000,62370.00000,...,11286873.00000,3.47870,inf,inf,-1050011272.00000,-0.03739,-46.49547,172.65784,8.10579,-96.36166
289068,힐코리아주식회사,43486,2009,10086534.00000,12387575.00000,-2301041.00000,1721273.00000,10690254.00000,1721273.00000,317020.00000,...,8363001.00000,1.27442,inf,inf,-1067304127.00000,-0.00999,149.88825,-25.90507,-72.85533,2665.05061
289069,힐코리아주식회사,43486,2010,8652086.00000,11239192.00000,-2587106.00000,286824.00000,9543746.00000,286824.00000,317020.00000,...,8363001.00000,0.00538,inf,inf,-954087776.00000,-0.00005,12.43198,0.00000,-99.57778,-86.59495

In [99]:
asset = df.groupby('회사명')['자산'].mean().reset_index()
asset

                    회사명              자산
0            (유)그룹세브코리아  21506844.00000
1               (유)랍코리아  15409024.77778
2               (유)비티투자  11559187.00000
3      (유)아웃백스테이크하우스코리아 101450698.00000
4              (유)에스아이지 147599651.50000
...                 ...             ...
43145          힐링홈스주식회사  10169205.00000
43146          힐중공업주식회사  13264351.50000
43147          힐코리아주식회사   9295164.50000
43148         힐티코리아주식회사  25766434.88235
43149         （주）신미코스메틱  27238719.00000

[43150 rows x 2 columns]

In [101]:
big_company=asset[asset['자산']>500000000] 
big_company #평균 자산 5000억원 이상 기업들 추출

                                회사명               자산
47                          (주)LGEI 3693921000.00000
49                         (주)LG파워콤 1590451272.22222
58     (주)NHF제1호공공임대개발전문위탁관리부동산투자회사  787746948.75000
60     (주)NHF제3호공공임대개발전문위탁관리부동산투자회사  650430420.50000
611                       (주)교원프라퍼티  788171102.17647
...                             ...              ...
42638                      현대파워텍(주) 1516035375.31250
42810                   홈플러스스토어즈(주) 2269502142.46667
42811                      홈플러스주식회사 4508711804.93750
42812                    홈플러스홀딩스(주)  650645603.70000
43128                      희성전자주식회사  740869787.94118

[337 rows x 2 columns]

In [108]:
big_company_list= big_company.회사명.to_list()
big_company_list

['(주)LGEI',
 '(주)LG파워콤',
 '(주)NHF제1호공공임대개발전문위탁관리부동산투자회사',
 '(주)NHF제3호공공임대개발전문위탁관리부동산투자회사',
 '(주)교원프라퍼티',
 '(주)귀뚜라미홀딩스',
 '(주)넥슨코리아',
 '(주)노키아티엠씨',
 '(주)농협사료',
 '(주)농협하나로유통',
 '(주)대교홀딩스',
 '(주)대림',
 '(주)대명화학',
 '(주)동광주택',
 '(주)동원엔터프라이즈',
 '(주)두드림',
 '(주)두루넷',
 '(주)디앤오',
 '(주)롯데미도파',
 '(주)만도',
 '(주)무주덕유산리조트',
 '(주)반도건설',
 '(주)부영',
 '(주)부영주택',
 '(주)비지에프리테일',
 '(주)삼양제넥스',
 '(주)삼표',
 '(주)삼표산업',
 '(주)셀트리온헬스케어',
 '(주)소노인터내셔널',
 '(주)신세계동대구복합환승센터',
 '(주)신세계프라퍼티',
 '(주)아이앤티디씨',
 '(주)에스파워',
 '(주)엔에이치에프제10호공공임대위탁관리부동산투자회사',
 '(주)엔엑스씨',
 '(주)엘시티피에프브이',
 '(주)엘지데이콤',
 '(주)엠디엠플러스',
 '(주)용평리조트',
 '(주)우리홈쇼핑',
 '(주)이랜드리테일',
 '(주)이랜드월드',
 '(주)일진글로벌홀딩스',
 '(주)제이피홀딩스피에프브이',
 '(주)지에스동해전력',
 '(주)지에스리테일',
 '(주)지에스이앤알',
 '(주)케이티스카이라이프',
 '(주)케이티에스테이트',
 '(주)코스트코코리아',
 '(주)클라쎄빌',
 '(주)태영유니시티',
 '(주)티브로드한빛방송',
 '(주)파리크라상',
 '(주)팬택앤큐리텔',
 '(주)포스코건설',
 '(주)포스코피앤에스',
 '(주)하이마트',
 '(주)한양',
 '(주)한화갤러리아',
 '(주)한화건설',
 '(주)현대케피코',
 'GS에너지주식회사',
 'GS파워(주)',
 'LS전선(주)',
 'SK(주)',
 'SKIMT주식회사',
 'SK마케팅앤컴퍼니주식회사',
 'SK실트론주식회사',
 'SK해운주식회사',
 'SPP조선(주)',
 'SPP해양조선주식회사',
 'STX중공업(주)',
 '강남금융센터주식회사',
 '강원도개발공사',
 '경기고속도로(주)',
 '경기도시공사',
 '경남개발공사',
 '경남에너지(주)',
 '경상북도개발공사',
 '고성그린파워주식회사',
 '공항철도주식회사',
 '광주광역시도시공사',
 '군장에너지주식회사',
 '금호고속(주)',
 '금호타이어(주)',
 '김포도시공사',
 '나래에너지서비스주식회사',
 '넷마블게임즈주식회사',
 '농협경제지주주식회사',
 '다함하비오(주)',
 '대구도시공사',
 '대구도시철도공사',
 '대우송도개발(주)',
 '대우인천자동차주식회사',
 '대우자동차(주)',
 '대우전자(주)',
 '대전도시공사',
 '대한리츠(주)',
 '대한송유관공사',
 '도레이첨단소재주식회사',
 '동두천드림파워(주)',
 '동부전자주식회사',
 '동서식품주식회사',
 '동아건설산업(주)',
 '동아탱커(주)',
 '동양시멘트주식회사',
 '동원로엑스주식회사',
 '두산메카텍주식회사',
 '두산밥캣(주)',
 '두타몰주식회사',
 '드림허브프로젝트금융투자주식회사',
 '디에스디삼호(주)',
 '디에스파워주식회사',
 '디에스한남주식회사',
 '라이프앤시큐리티홀딩스주식회사',
 '람정제주개발주식회사',
 '롯데건설주식회사',
 '롯데렌탈(주)',
 '롯데물산주식회사',
 '롯데상사(주)',
 '롯데쇼핑(주)',
 '롯데스퀘어(주)',
 '롯데아이티테크주식회사',
 '롯데역사주식회사',
 '롯데인천개발(주)',
 '롯데지알에스주식회사',
 '르노코리아자동차',
 '메르세데스벤츠코리아주식회사',
 '미단시티개발주식회사',
 '미래에셋컨설팅주식회사',
 '보령엘엔지터미널주식회사',
 '보스포러스인베스트먼트주식회사',
 '볼보그룹코리아(주)',
 '부산-김해경전철(주)',
 '부산교통공사',
 '부산도시공사',
 '부산신항만주식회사',
 '부산울산고속도로(주)',
 '비엠더블유코리아',
 '사이렌인베스트먼츠코리아주식회사',
 '삼성광주전자주식회사',
 '삼성디스플레이주식회사',
 '삼성모바일디스플레이주식회사',
 '삼성물산(주)',
 '삼성바이오에피스주식회사',
 '삼성에스디에스(주)',
 '삼성엘이디주식회사',
 '삼성웰스토리(주)',
 '삼성코닝주식회사',
 '삼표에스씨(주)',
 '상주영천고속도로(주)',
 '서울-춘천고속도로(주)',
 '서울고속도로(주)',
 '서울메트로',
 '서울북부고속도로주식회사',
 '서울시메트로구호선주식회사',
 '서울주택도시공사',
 '서울파이낸스센터(주)',
 '성남의뜰주식회사',
 '소니서플라이체인솔루션즈코리아(주)',
 '송도국제화복합단지개발(주)',
 '수도권서부고속도로(주)',
 '시노코페트로케미컬주식회사',
 '신공항하이웨이주식회사',
 '신대구부산고속도로(주)',
 '신동아건설(주)',
 '신분당선주식회사',
 '싸이러스송도개발주식회사',
 '쌍용건설(주)',
 '씨제이건설(주)',
 '씨지앤율촌전력주식회사',
 '아우디폭스바겐코리아주식회사',
 '아주산업주식회사',
 '안산사동90블록피에프브이주식회사',
 '앰코테크놀로지코리아(주)',
 '에릭슨엘지주식회사',
 '에스엘시디주식회사',
 '에스케이마리타임주식회사',
 '에스케이브로드밴드(주)',
 '에스케이에코플랜트(주)',
 '에스케이이엔에스(주)',
 '에스케이트레이딩인터내셔널주식회사',
 '에스케이플래닛(주)',
 '에스트라오토모티브시스템주식회사',
 '에스티엑스팬오션(주)',
 '에이지씨화인테크노한국(주)',
 '에이치디씨리조트주식회사',
 '에이치라인해운주식회사',
 '에이치에스디엔진(주)',
 '에이치에스지성동조선주식회사',
 '에이치피프린팅코리아유한회사',
 '에이케이에스앤디주식회사',
 '엔에이치에프제4호공공임대개발전문위탁관리부동산투자회사',
 '엘아이지넥스원(주)',
 '엘에스아이앤디주식회사',
 '엘에스엠트론(주)',
 '엘지.필립스디스플레이(주)',
 '엘지디스플레이(주)',
 '오리온전기(주)',
 '온세미컨덕터코리아(주)',
 '와이이십이프로젝트금융투자주식회사',
 '울산광역시도시공사',
 '웅진코웨이개발(주)',
 '유코카캐리어스주식회사',
 '의왕백운프로젝트금융투자(주)',
 '이래에이엠에스주식회사',
 '이레일주식회사',
 '이지스일호주식회사',
 '인천국제공항공사',
 '인천글로벌캠퍼스주식회사',
 '인천대교(주)',
 '인천도시공사',
 '장금마리타임주식회사',
 '장금상선(주)',
 '전기초자코리아주식회사',
 '전남개발공사',
 '전북개발공사',
 '제삼경인고속도로(주)',
 '제이서해안고속도로(주)',
 '제이유네트워크(주)',
 '주식회사교원',
 '주식회사네오플',
 '주식회사대륜발전',
 '주식회사동아일보사',
 '주식회사동일토건',
 '주식회사디엔솔루션즈',
 '주식회사딜라이브',
 '주식회사만도차이나홀딩스',
 '주식회사매그너스홀딩스',
 '주식회사멕킨237피에프브이',
 '주식회사문화방송',
 '주식회사부산롯데호텔',
 '주식회사비엔씨티',
 '주식회사빗썸코리아',
 '주식회사서울리츠임대주택제3호위탁관리부동산투자회사',
 '주식회사서해종합건설',
 '주식회사셀트리온홀딩스',
 '주식회사스마일게이트홀딩스',
 '주식회사스타필드고양',
 '주식회사스타필드하남',
 '주식회사신세계마트',
 '주식회사신세계센트럴시티',
 '주식회사신아에스비',
 '주식회사씨텍',
 '주식회사알파돔시티',
 '주식회사에스티인터내셔널코퍼레이션',
 '주식회사에이알에이알파리움위탁관리부동산투자회사',
 '주식회사에치와이',
 '주식회사엔에이치에프제8호공공임대위탁관리부동산투자회사',
 '주식회사엘지씨엔에스',
 '주식회사엠에이치앤코',
 '주식회사워커힐',
 '주식회사위니아전자',
 '주식회사유라',
 '주식회사일레븐건설',
 '주식회사전주원파워',
 '주식회사지마켓',
 '주식회사케이리얼티제1호기업구조조정부동산투자회사',
 '주식회사케이조선',
 '주식회사케이티아이컴',
 '주식회사코크렙파인에비뉴위탁관리부동산투자회사',
 '주식회사파라다이스세가사미',
 '주식회사팬택자산관리',
 '주식회사피에프브이민',
 '주식회사한국인삼공사',
 '주식회사호반건설',
 '주식회사호텔롯데',
 '중흥토건(주)',
 '지에스이피에스(주)',
 '지케이해상도로주식회사',
 '창명해운주식회사',
 '천안논산고속도로(주)',
 '청진이삼프로젝트(주)',
 '충청남도개발공사',
 '케이알원기업구조조정부동산투자회사',
 '케이티샛',
 '케이파워주식회사',
 '코닝정밀소재주식회사',
 '코리아세븐(주)',
 '코리아엘엔지트레이딩(주)',
 '코원에너지서비스(주)',
 '코크렙엔피에스제2호기업구조조정부동산투자회사',
 '쿠팡주식회사',
 '파르나스호텔(주)',
 '파주에너지서비스주식회사',
 '평택에너지서비스(주)',
 '포스코그린가스텍주식회사',
 '포스코에너지(주)',
 '포천민자발전주식회사',
 '포천파워(주)',
 '폴라리스쉬핑(주)',
 '풀무원식품(주)',
 '풍림산업(주)',
 '프라임개발(주)',
 '하이마트홀딩스주식회사',
 '한국공항공사',
 '한국남동발전주식회사',
 '한국남부발전주식회사',
 '한국도로공사',
 '한국동서발전주식회사',
 '한국서부발전주식회사',
 '한국수력원자력주식회사',
 '한국쓰리엠주식회사',
 '한국아이비엠',
 '한국중부발전주식회사',
 '한국지엠(주)',
 '한국지역난방공사',
 '한국항공우주산업',
 '한국화낙(주)',
 '한국휴렛팩커드주식회사',
 '한라시멘트(주)',
 '한무쇼핑주식회사',
 '한스자람주식회사',
 '한진에너지주식회사',
 '한화글로벌에셋주식회사',
 '한화디펜스주식회사',
 '한화시스템(주)',
 '한화에너지(주)',
 '한화임팩트주식회사',
 '한화큐셀코리아(주)',
 '한화호텔앤드리조트(주)',
 '해태제과식품주식회사',
 '현대그린파워주식회사',
 '현대로템(주)',
 '현대삼호중공업(주)',
 '현대엔지니어링(주)',
 '현대엘엔지해운주식회사',
 '현대엠코(주)',
 '현대위아(주)',
 '현대트랜시스주식회사',
 '현대파워텍(주)',
 '홈플러스스토어즈(주)',
 '홈플러스주식회사',
 '홈플러스홀딩스(주)',
 '희성전자주식회사']

In [109]:
small_company=df[~df['회사명'].isin(big_company_list)]
small_company

,회사명,거래소코드,회계년도,자산,부채,자본,유동자산,유동부채,당좌자산,단기차입금,...,고정자산,고정자산회전율,재고자산회전율,매출채권회전율,순운전자본,순운전자본회전율,총자본증가율,유형자산증가율,매출액증가율,순이익증가율
0,(주)A.M.C,64118,2011,13250271.00000,6734376.00000,6515895.00000,8115329.00000,5523764.00000,7662911.00000,3298096.00000,...,4986348.00000,232.22472,4883.96638,549.28686,-544261071.00000,-4.05981,nan,nan,nan,nan
1,(주)A.M.C,64118,2012,16129899.00000,7028671.00000,9101228.00000,10202990.00000,5442761.00000,9696157.00000,2298500.00000,...,5778315.00000,211.64394,4346.43916,553.82196,-534073110.00000,-4.12475,39.67733,151.30100,-0.30211,2.10713
2,(주)A.M.C,64118,2013,17709388.00000,5815688.00000,11893700.00000,9018587.00000,3010189.00000,8627090.00000,1550000.00000,...,8350498.00000,157.47180,5692.72281,563.18068,-292000313.00000,-7.63247,30.68237,122.08435,1.16959,-3.36221
3,(주)A.M.C,64118,2014,21742688.00000,11670728.00000,10071961.00000,6834570.00000,4434169.00000,6290840.00000,3525000.00000,...,14848119.00000,58.59135,2209.79567,478.66662,-436582330.00000,-2.75213,-15.31684,260.68732,-46.08781,-157.33998
4,(주)A.M.C,64118,2015,20428850.00000,12019913.00000,8408937.00000,5563581.00000,4572707.00000,3875390.00000,3405000.00000,...,14845268.00000,53.00393,637.79922,366.21583,-451707119.00000,-2.38368,-16.51142,2.03705,-10.38718,27.16573
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
289065,힐링홈스주식회사,84799,2017,10169205.00000,8930628.00000,1238577.00000,9885908.00000,5437722.00000,2424901.00000,0.00000,...,177918.00000,3168.19612,132.78470,1222.80293,-533886292.00000,-1.85565,nan,nan,nan,nan
289066,힐코리아주식회사,43486,2005,5337737.00000,7058765.00000,-1721028.00000,1171463.00000,6542860.00000,1171463.00000,3907109.00000,...,4142574.00000,8.76108,inf,1428.11025,-653114537.00000,-0.05561,nan,nan,nan,nan
289067,힐코리아주식회사,43486,2008,13104301.00000,14025129.00000,-920828.00000,1815228.00000,10518265.00000,1815228.00000,62370.00000,...,11286873.00000,3.47870,inf,inf,-1050011272.00000,-0.03739,-46.49547,172.65784,8.10579,-96.36166
289068,힐코리아주식회사,43486,2009,10086534.00000,12387575.00000,-2301041.00000,1721273.00000,10690254.00000,1721273.00000,317020.00000,...,8363001.00000,1.27442,inf,inf,-1067304127.00000,-0.00999,149.88825,-25.90507,-72.85533,2665.05061
289069,힐코리아주식회사,43486,2010,8652086.00000,11239192.00000,-2587106.00000,286824.00000,9543746.00000,286824.00000,317020.00000,...,8363001.00000,0.00538,inf,inf,-954087776.00000,-0.00005,12.43198,0.00000,-99.57778,-86.59495